.card {
    @apply bg-white shadow-lg px-2.5 py-3 rounded-md
}
.input-field {
    @apply rounded-md border w-full py-2.5 px-3
}
.btn-blue {
    @apply bg-blue-400 rounded-md text-white p-6 px-2.5 py-3 hover:bg-blue-600 w-full
}
.btn-red {
    @apply bg-red-400 rounded-md text-white p-6 px-2.5 py-3 hover:bg-red-600 w-full
}
.btn-green {
    @apply bg-green-400 rounded-md text-white p-6 px-2.5 py-3 hover:bg-green-600 w-full
}
.btn-yellow {
    @apply bg-yellow-400 rounded-md text-white p-6 px-2.5 py-3 hover:bg-yellow-600 w-full
}
.card-t-blue {
    @apply bg-white border-t-4 border-blue-600 px-2.5 py-3 rounded-md shadow-lg
}
.label {
    @apply text-gray-500
}
.border-l-blue {
    @apply border-l-8 border-blue-600 px-2.5 py-3
}
.model {
    @apply fixed inset-0 bg-black/50 z-50 flex justify-center items-center
}